---

---

<div class="c-cta u-mb-xl">
  <div class="c-cta__logo u-dsp-flx u-mg-auto">
    <svg class="js-cnt-v-auto" viewBox="0 0 1788 961" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M134.47 479.601C-3.43898 646.623 345.156 959.196 403.295 733.958C439.587 581.266 272.523 348.622 120.025 486.814"
        class="c-logo__lmp"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M616.232 38.2769C652.524 -12.5561 725.108 -19.8178 717.849 60.0626C697.946 68.3712 675.892 70.0323 654.969 64.7994C634.046 59.566 615.37 47.7174 601.716 31.0152L616.232 38.2769ZM575.971 53.0435C518.218 76.4991 461.095 99.9547 405.98 126.969C350.951 153.182 298.44 184.385 249.103 220.186C200.156 255.312 157.725 298.73 123.727 348.479C107.071 373.654 93.4289 400.7 83.0803 429.061C77.8576 443.422 73.4475 458.065 69.8694 472.922C68.0305 480.402 66.4826 487.93 65.0315 495.555C63.5793 503.179 62.4182 510.829 61.257 518.55C60.5549 510.78 60.3127 502.962 60.216 495.119C60.1194 487.276 60.5061 479.433 61.0393 471.567C62.1496 455.777 64.4553 440.095 67.9348 424.655C75.0412 393.453 86.5608 363.426 102.146 335.48C117.821 307.491 136.796 281.486 158.664 258.021C169.503 246.256 181.019 235.17 192.899 224.519C204.779 213.868 217.263 203.968 229.989 194.455C281.13 157.279 336.86 126.874 395.794 103.997C453.97 80.9395 514.339 63.8673 575.971 53.0435ZM54.0227 695.303C52.8088 704.146 51.177 712.863 49.5529 721.533L49.1848 723.504L43.7883 751.316C40.2317 769.761 36.7727 788.061 34.1106 806.264C31.341 823.966 30.0461 841.867 30.2395 859.784C30.3703 868.028 31.3928 876.232 33.2883 884.256C34.1565 887.842 35.3469 891.342 36.8449 894.713L37.2385 895.547C37.4826 896.06 37.7326 896.587 37.9817 897.134L38.5871 898.223L39.4338 899.675C40.2561 901.03 41.3215 902.676 42.3859 904.081C46.6828 909.952 52.1233 914.892 58.3791 918.605C65.1526 922.688 72.4895 925.755 80.1535 927.706C97.094 931.853 114.525 933.645 131.954 933.031C150.333 932.59 168.675 931.151 186.9 928.723C196.166 927.585 205.457 926.302 214.796 924.898L217.917 924.428L217.941 924.424C226.239 923.175 234.566 921.922 243.006 920.783C234.635 925.455 226.071 929.618 217.264 933.466C208.457 937.315 199.577 940.729 190.505 944.021C172.164 950.498 153.246 955.207 134.01 958.084C129.171 958.762 124.187 959.319 119.228 959.731C114.268 960.142 109.236 960.287 104.155 960.287C93.7873 960.348 83.4406 959.334 73.2824 957.261C62.5012 955.062 52.1262 951.199 42.5305 945.812C32.4846 940.005 23.7395 932.194 16.8361 922.864C15.0969 920.481 13.4816 918.008 11.9973 915.457L10.9807 913.666L9.91622 911.657C9.21505 910.325 8.58614 908.97 7.98165 907.614C5.67989 902.359 3.91231 896.885 2.70626 891.276C0.573445 880.864 -0.304485 870.235 0.0929759 859.614C0.435749 849.57 1.49532 839.564 3.2629 829.671C4.90841 819.988 7.15841 810.306 9.69845 801.035C20.2893 764.178 35.1662 728.692 54.0227 695.303ZM446.918 893.792C445.455 893.635 444.001 893.402 442.564 893.09L442.548 893.086C441.174 892.724 439.799 892.362 438.426 891.952C435.722 891.103 433.092 890.035 430.562 888.758L429.901 887.705C428.699 885.793 427.504 883.892 426.355 881.978C425.218 880.087 424.124 878.183 423.111 876.243C418.794 867.938 414.949 859.395 411.594 850.657L411.058 849.303L410.469 847.81L409.45 845.217L409.427 845.158C406.853 838.602 404.342 832.203 401.577 826.161C399.871 822.394 397.957 818.725 395.843 815.171C396.013 812.75 396.085 810.329 396.158 807.618V803.625V799.364C396.941 799.471 397.719 799.603 398.492 799.759C399.154 799.892 399.811 800.043 400.464 800.211C401.843 800.599 403.199 801.058 404.577 801.567C407.262 802.59 409.86 803.829 412.344 805.271C414.833 809.442 417.087 813.749 419.094 818.172C422.095 824.729 424.661 831.257 427.166 837.629C427.954 839.635 428.736 841.622 429.523 843.589C432.609 851.657 436.147 859.544 440.119 867.214C442.019 870.892 444.194 874.42 446.627 877.768L446.772 885.417L446.918 893.792ZM354.6 843.602C353.931 843.346 353.254 843.087 352.512 842.864C352.361 843.075 352.218 843.282 352.08 843.488C351.886 843.779 351.702 844.066 351.518 844.353C351.184 844.875 350.851 845.394 350.455 845.939L348.931 848.964C347.993 850.902 347.185 852.899 346.511 854.944C347.231 856.435 347.872 857.94 348.51 859.437L348.515 859.448L348.518 859.456C349.099 860.82 349.678 862.177 350.31 863.512C352.875 869.128 355.585 874.599 358.246 879.924C360.907 885.25 363.521 890.527 365.94 895.755C367.125 898.369 368.286 900.984 369.351 903.598C370.186 903.945 371.013 904.293 371.842 904.643L371.933 904.683C373.293 905.258 374.662 905.837 376.09 906.415C377.767 907.093 379.525 907.77 381.448 908.439C383.834 904.647 385.759 900.584 387.182 896.336C386.283 894.13 385.341 891.951 384.378 889.801C384.073 889.12 383.765 888.442 383.456 887.766C381.371 883.199 379.173 878.76 377.005 874.382L376.369 873.097L375.521 871.379L375.508 871.353L375.458 871.25C372.842 865.945 370.274 860.735 367.874 855.549C367.552 854.8 367.218 854.06 366.885 853.321C366.364 852.166 365.845 851.017 365.377 849.852C365.089 849.136 364.822 848.414 364.584 847.682C363.611 847.221 362.622 846.775 361.596 846.339C360.736 845.973 359.849 845.614 358.922 845.261L355.874 844.075C355.63 843.989 355.388 843.901 355.148 843.81L354.615 843.608L354.6 843.602ZM250.652 359.953C258.104 352.673 266.201 346.086 274.846 340.274C283.578 334.457 292.724 329.287 302.21 324.806C321.348 315.896 341.485 309.313 362.189 305.199C403.862 297.115 446.61 296.231 488.581 302.585C509.649 305.631 530.441 310.351 550.76 316.697C571.239 323.007 591.123 331.107 610.183 340.903C629.49 350.818 647.675 362.779 664.426 376.583C681.492 390.668 696.474 407.107 708.92 425.406C715.124 434.73 720.515 444.569 725.033 454.817C737.213 482.234 742.086 512.266 739.278 542H708.642C710.823 516.61 706.526 491.036 696.098 467.694C692.24 459.098 687.659 450.847 682.403 443.028C671.701 427.155 658.835 412.856 644.176 400.547C629.287 387.904 613.147 376.817 596.005 367.457C525.173 329.455 444.742 313.109 364.704 320.449C344.615 322.478 324.796 326.616 305.573 332.794C295.909 335.936 286.483 339.762 277.363 344.244C268.054 348.757 259.121 354.011 250.652 359.953Z"
        fill="currentColor"></path>
      <path
        class="c-logo__lmp"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M1594.74 759.047L1564.74 811.372H1760.09L1788 759.047H1594.74ZM1509.63 593L1376.6 796.721L1400.79 844.163L1454.28 767.651H1500.79L1397.07 928.814H1458.93L1678.23 593H1509.63ZM1534.74 649.977L1489.16 720.442H1529.16L1573.81 649.977H1534.74ZM1501.02 593H1405.91L1221.49 777.186L1188.47 874.395L1328.7 748.349L1257.77 928.814H1315.91L1399.4 711.605H1365.91L1501.02 593ZM1151.02 593L1134.74 648.814H1280.79L1371.95 593H1151.02ZM1089.16 688.814L1072.88 742.767H1164.05L1031.95 928.814H1098.93L1282.19 688.814H1089.16ZM538 834.395L692.419 593H756.605L673.349 711.605H711.488L627.767 928.814H583.116L644.047 758.116L578.465 853.465L538 834.395ZM768 593L634.279 928.814H672.419L730.558 807.884L738.465 827.419L684.046 928.814H705.442H712.884H730.558L755.674 881.837L771.488 928.814H795.674L807.279 886.837L783.581 830.209L866.372 688.814H783.581L806.372 648.814H872.419L918.93 593H768ZM762.651 735.791L757.07 745.093L766.372 769.279L785.907 735.791H762.651ZM928.93 593L905.674 648.814H970.791L937.07 688.814H869.86L798.465 928.814H1004.05L1079.4 688.814H987.767L1028.7 648.814H1090.56L1140.33 593H928.93ZM899.395 735.326L858 879.047H872.419L912.419 735.326H899.395ZM959.86 878.581L1001.72 735.326H1012.88L972.884 878.581H959.86ZM950.093 733.93L945.907 748.349H960.558L965.907 733.93H950.093ZM926.372 813.93L929.628 798.581H944.977L942.186 813.93H926.372ZM912.419 860.674L908.232 879.047H923.349L928 860.674H912.419Z"
      ></path>
    </svg>
  </div>
  <div class="o-stack c-cta__txt u-insert-stack u-space-l">
    <h2 class="c-display-m u-fnt-en u-txt-thn">Inquiry</h2>
    <p class="c-content-l u-mw-r">
      仮面ライターのHPをご覧いただき、ありがとうございます。<br />
      掲載内容に関するご質問や、ご相談・お問い合わせなどございましたら、こちらからお気軽にお問い合わせください。
    </p>
    <a
      href="/inquiry/"
      data-astro-prefetch="tap"
      class="o-box c-cta__btn c-content-l u-dsp-flx u-py-s u-px-m u-flx-y-ctr"
    >
      <svg class="u-mr-s" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path
          d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4l217.6 163.2c11.4 8.5 27 8.5 38.4 0l217.6-163.2c12.1-9.1 19.2-23.3 19.2-38.4 0-26.5-21.5-48-48-48H48zM0 176v208c0 35.3 28.7 64 64 64h384c35.3 0 64-28.7 64-64V176L294.4 339.2a63.9 63.9 0 0 1-76.8 0L0 176z"
          fill="currentColor"></path>
      </svg>
      メールでお問い合わせ
    </a>
  </div>
</div>
<footer class="o-center c-footer u-insert-center u-space-clamp u-pt-l u-pb-2xl">
  <div class="o-switcher u-mb-xl">
    <ul class="o-stack u-insert-stack u-space-m">
      <li class="u-lnh-n">
        <a
          href="https://bbns.jp/"
          target="_blank"
          rel="noopener noreferrer"
          title="BLUE B NOSE"
          aria-label="BLUE B NOSEへ"
          class="c-display-s c-ft-bnr u-pd-s u-dsp-flx js-cnt-v-auto"
        >
          <svg viewBox="0 0 97 20" xmlns="http://www.w3.org/2000/svg">
            <path d="m29.084 13.298-4.154 6.65-4.156-6.65h8.31Z" fill="#69AEE0"></path>
            <path d="m16.62 19.948 4.154-6.65 4.155 6.65h-8.31Z" fill="#70B1E1"></path>
            <path d="m20.774 13.298-4.154 6.65-4.155-6.65h8.309Z" fill="#92CAEF"></path>
            <path d="m8.31 19.948 4.155-6.65 4.155 6.65H8.31Z" fill="#92CAEF"></path>
            <path d="m0 19.948 4.155-6.65 4.155 6.65H0Z" fill="#7EBAE6"></path>
            <path d="m33.24 6.65-4.155 6.648L24.93 6.65h8.31Z" fill="#85C1EB"></path>
            <path d="M20.774 13.298 24.93 6.65l4.154 6.648h-8.309Z" fill="#7EBAE6"></path>
            <path d="m24.93 6.65-4.155 6.648L16.62 6.65h8.31Z" fill="#7BB8E5"></path>
            <path d="M12.465 13.298 16.62 6.65l4.154 6.648h-8.31Z" fill="#85C1EB"></path>
            <path d="m16.62 6.65-4.155 6.648L8.31 6.65h8.31Z" fill="#73B2E2"></path>
            <path d="M4.155 13.298 8.31 6.65l4.154 6.648h-8.31Z" fill="#67A0D3"></path>
            <path d="M24.93 6.65 29.084 0l4.156 6.65h-8.31Z" fill="#99D2F3"></path>
            <path d="M16.62 6.65 20.774 0l4.155 6.65h-8.31Z" fill="#82BEE9"></path>
            <path d="M8.31 6.65 12.465 0l4.155 6.65H8.31Z" fill="#73B2E2"></path>
            <path d="M12.464 0 8.31 6.65 4.155 0h8.309Z" fill="#65A5DA"></path>
            <path
              d="M70.83 12.694v6.891h1.035v-4.404L76.632 20v-6.891h-1.088v4.404l-4.715-4.819Zm13.047 2.718c.12.293.18.603.18.929 0 .322-.06.63-.18.924a2.39 2.39 0 0 1-1.277 1.303c-.282.12-.58.18-.894.18a2.305 2.305 0 0 1-1.668-.704 2.392 2.392 0 0 1-.687-1.703c0-.33.059-.64.176-.934.118-.293.288-.553.511-.779a2.32 2.32 0 0 1 .762-.524 2.327 2.327 0 0 1 2.566.524c.223.23.393.49.51.784Zm1.012 2.227c.173-.408.26-.84.26-1.298a3.35 3.35 0 0 0-1.008-2.4 3.414 3.414 0 0 0-1.118-.73 3.478 3.478 0 0 0-1.317-.251c-.466 0-.908.083-1.325.25a3.413 3.413 0 0 0-1.866 1.828 3.35 3.35 0 0 0-.255 1.303c0 .463.085.898.255 1.303.17.405.42.767.748 1.087.323.317.694.562 1.114.735.423.17.866.255 1.33.255.457 0 .895-.085 1.311-.255.417-.17.791-.415 1.123-.735a3.27 3.27 0 0 0 .748-1.092Zm7.55-4.534v6.48h3.572V18.55h-2.643v-1.917h2.642V15.7h-2.642v-1.606h2.642v-.988h-3.57Zm-53.9 2.776h-.4v-1.849h.4c.447 0 .509.051.63.153l.079.063c.19.14.286.387.286.74 0 .322-.104.553-.313.69a1.826 1.826 0 0 0-.094.068c-.12.09-.18.135-.588.135Zm-.136 2.848h-.264v-2.055h.581c.21 0 .38.011.506.035.129.023.243.06.343.11.159.085.28.204.366.356.085.153.127.332.127.537 0 .174-.035.332-.105.476a.851.851 0 0 1-.3.343c-.105.074-.25.125-.431.154-.182.03-.456.044-.823.044Zm-1.29-5.62v6.496h1.48c.616 0 1.054-.036 1.315-.11.262-.073.396-.2.572-.378l.032-.032c.161-.158.355-.347.44-.567a2.04 2.04 0 0 0 .136-.744c0-.431-.108-.788-.325-1.07-.215-.284-.717-.508-1.093-.567.303-.09.448-.25.607-.48.158-.231.196-.477.196-.82 0-.288-.056-.551-.167-.789a1.449 1.449 0 0 0-.51-.612c-.139-.103-.279-.207-.479-.252-.22-.05-.562-.075-1.026-.075h-1.178Zm10.04 0h1.034v4.197c0 .58.133.787.4 1.08.27.29.508.37 1.042.37.531 0 .684-.08.95-.37.27-.293.406-.5.406-1.08v-4.197h1.047v4.062c0 .872-.282 1.462-.722 1.896-.44.432-.795.71-1.681.71s-1.321-.278-1.758-.71c-.438-.431-.719-1.021-.719-1.896v-4.062Zm-4.355 6.496v-6.444h1.048v5.44h1.906v1.004h-2.954Zm20.508-3.724h.4c.408 0 .468-.045.588-.135.027-.02.057-.043.094-.067.209-.138.313-.369.313-.691 0-.353-.095-.6-.286-.74a1.874 1.874 0 0 1-.078-.063c-.122-.102-.183-.153-.63-.153h-.401v1.85Zm0 2.848h.264c.367 0 .641-.014.823-.044.182-.029.326-.08.431-.154a.85.85 0 0 0 .3-.343c.07-.144.105-.302.105-.476 0-.205-.042-.384-.127-.537a.892.892 0 0 0-.366-.356c-.1-.05-.214-.087-.343-.11a2.886 2.886 0 0 0-.506-.035h-.581v2.055Zm-1.026.876V13.11h1.179c.463 0 .805.025 1.025.075.2.045.34.149.48.252l.047.036c.2.146.354.338.462.576.112.238.167.5.167.788 0 .344-.037.59-.196.822-.159.229-.304.389-.606.48.375.058.877.282 1.092.566.217.282.325.639.325 1.07 0 .261-.045.51-.136.744-.085.22-.279.41-.44.567l-.002.002-.02.019-.01.01c-.176.18-.31.306-.571.38-.261.073-.7.11-1.317.11H62.28Zm-8.187-.02v-6.48h3.572v.988h-2.642V15.7h2.642v.932h-2.642v1.917h2.642v1.037h-3.572Zm33.316-1.968-.984.2c.11.476.372 1.202.725 1.458.357.255.845.484 1.4.484.662 0 1.084-.18 1.472-.543.39-.365.584-.857.584-1.474 0-.424-.017-.881-.257-1.163-.24-.285-.683-.576-1.327-.873a9.25 9.25 0 0 1-.134-.062c-.736-.339-1.116-.537-1.116-.929 0-.25.095-.511.261-.66.159-.139.294-.139.544-.138h.053c.202 0 .36.067.515.162.158.095.302.245.432.45l.888-.454a1.457 1.457 0 0 0-.672-.797 2.218 2.218 0 0 0-1.163-.325c-.585 0-1.045.165-1.407.495-.36.33-.539.726-.539 1.257 0 .41.119.757.356 1.042.225.264.714.502 1.363.818l.14.067c.047.02.115.054.204.098.635.3.772.63.772 1.012 0 .294-.093.604-.28.78-.184.175-.33.262-.645.262-.332 0-.605-.076-.819-.227-.17-.123-.25-.462-.317-.742a3.193 3.193 0 0 0-.049-.198Z"
              fill="currentColor"></path>
          </svg>
          <span class="sr-only">BLUE B NOSEへ</span>
        </a>
      </li>
      <li class="u-lnh-n">
        <a
          href="https://www.shin-kamenwriter.com/"
          target="_blank"
          rel="noopener noreferrer"
          title="シン・仮面ライター"
          aria-label="シン・仮面ライターのトップページへ"
          class="c-display-s c-ft-bnr u-pd-s u-dsp-flx js-cnt-v-auto"
        >
          <svg viewBox="0 0 122 20" xmlns="http://www.w3.org/2000/svg">
            <path class="c-logo__lmp" d="M2.8 9.989c-2.871 3.478 4.389 9.988 5.6 5.297.755-3.18-2.724-8.025-5.9-5.147"
            ></path>
            <path
              d="M14.95 1.25c.152-1.663-1.36-1.512-2.116-.453l-.302-.151a2.086 2.086 0 0 0 2.419.605ZM8.456 2.645c1.148-.562 2.338-1.05 3.54-1.54a19.197 19.197 0 0 0-3.752 1.062A15.271 15.271 0 0 0 4.79 4.05a10.458 10.458 0 0 0-1.486 1.324 8.354 8.354 0 0 0-1.177 1.613 7.01 7.01 0 0 0-.712 1.857 6.53 6.53 0 0 0-.14 1.956c.025-.16.05-.32.08-.48a8.485 8.485 0 0 1 .376-1.385c.215-.59.499-1.153.846-1.677a10.764 10.764 0 0 1 2.611-2.672 20.778 20.778 0 0 1 3.267-1.942ZM1.032 15.027c.034-.18.068-.362.093-.546a10.214 10.214 0 0 0-.923 2.202c-.053.193-.1.395-.134.597a4.396 4.396 0 0 0-.066.623c-.008.221.01.443.054.66a1.78 1.78 0 0 0 .15.424l.023.042.02.037a1.765 1.765 0 0 0 .636.632c.2.113.417.193.641.239.212.043.427.064.643.063a3.832 3.832 0 0 0 .622-.046c.4-.06.795-.158 1.177-.293a9.4 9.4 0 0 0 .557-.22 6.16 6.16 0 0 0 .536-.264c-.176.024-.35.05-.522.076l-.065.01c-.195.03-.388.056-.581.08-.38.05-.762.08-1.145.09a3.95 3.95 0 0 1-1.079-.112 1.683 1.683 0 0 1-.453-.19 1.122 1.122 0 0 1-.395-.393l-.017-.03-.013-.023a3.316 3.316 0 0 0-.015-.033l-.009-.018a1.273 1.273 0 0 1-.074-.218 2.381 2.381 0 0 1-.063-.51 6.739 6.739 0 0 1 .08-1.114c.056-.379.128-.76.202-1.144l.112-.58.008-.04Zm4.188-7.53c.156-.152.324-.289.504-.41a4.48 4.48 0 0 1 .57-.322 5.499 5.499 0 0 1 1.25-.409 7.74 7.74 0 0 1 2.632-.054c.438.063.871.162 1.295.294.426.131.84.3 1.237.504.402.206.781.456 1.13.743.356.293.668.636.927 1.017.129.194.241.4.335.612.288.649.38 1.367.264 2.068-.075.454-.22.894-.428 1.304a5.71 5.71 0 0 1-.338.587 6.705 6.705 0 0 1-.398.54 8.023 8.023 0 0 1-1.992 1.722 7.8 7.8 0 0 1-1.165.59 7.58 7.58 0 0 1-.614.216c-.208.061-.418.11-.632.145a8.169 8.169 0 0 0 2.227-1.222 8.612 8.612 0 0 0 1.764-1.772 6.234 6.234 0 0 0 .62-1.057c.165-.363.278-.749.333-1.145a3.136 3.136 0 0 0-.243-1.707 3.462 3.462 0 0 0-.286-.514 4.275 4.275 0 0 0-.796-.885 5.97 5.97 0 0 0-1.003-.689 8.54 8.54 0 0 0-4.817-.979 5.994 5.994 0 0 0-1.232.257 4.46 4.46 0 0 0-1.144.566ZM9.217 18.6a.69.69 0 0 0 .091.015l-.003-.174-.003-.16a1.7 1.7 0 0 1-.136-.22 4.79 4.79 0 0 1-.22-.491l-.05-.125a7.99 7.99 0 0 0-.168-.405 2.713 2.713 0 0 0-.14-.269 1.112 1.112 0 0 0-.248-.105.782.782 0 0 0-.09-.018v.172a3.634 3.634 0 0 1-.006.158c.044.074.084.15.12.228a7.87 7.87 0 0 1 .185.451l.012.032.011.028a3.64 3.64 0 0 0 .382.771l.013.022c.053.027.108.049.164.067l.086.023Zm-1.875-1.046.044.016.026.01.063.024c.043.016.08.033.118.05.013.04.03.08.048.118l.02.047a14.754 14.754 0 0 0 .177.366l.014.026a10.414 10.414 0 0 1 .212.457c-.03.088-.07.173-.12.252a3.428 3.428 0 0 1-.198-.078 7.955 7.955 0 0 0-.054-.023 4.598 4.598 0 0 0-.07-.163 16.442 16.442 0 0 0-.16-.33 10.74 10.74 0 0 1-.166-.342c-.013-.027-.025-.056-.037-.084-.014-.032-.027-.063-.042-.094a.958.958 0 0 1 .05-.125l.032-.063a.62.62 0 0 0 .022-.032.615.615 0 0 1 .02-.032Z"
              fill="#2C6C60"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M19 20 36.022 0l-.304 3.296L24 20h-5Zm4.155-15.485-1.177 3.241h6.039l2.188-3.24h-7.05Zm.43-1.219h7.451L33.252 0h-8.476l-1.192 3.296ZM47.517 0l-16.73 20h4.93l15.43-20h-3.629Zm-9.681 0L36.7 3.296h6.69L45.828 0h-7.991Zm6.73 12.216L45.55 9.1h3.975l-1.399 3.116h-3.56ZM110.4 9.89l-1.787 3.117h11.635l1.662-3.117H110.4ZM105.33 0l-7.923 12.133 1.44 2.825 3.186-4.556h2.77L98.626 20h3.684l13.061-20H105.33Zm1.495 3.393-2.714 4.197h2.382l2.659-4.197h-2.327ZM104.817 0h-5.665L88.17 10.97l-1.967 5.789 8.352-7.507L90.33 20h3.462l4.972-12.936H96.77L104.817 0ZM83.972 0l-.97 3.324h8.699L97.13 0H83.971Zm-3.684 5.706-.97 3.214h5.43L76.88 20h3.989L91.784 5.706H80.288Zm-32.825 8.67L56.659 0h3.823l-4.959 7.064h2.272L52.809 20h-2.66l3.63-10.166-3.906 5.678-2.41-1.135ZM61.16 0l-7.964 20h2.271l3.463-7.202.47 1.163L56.162 20h2.77l1.496-2.798.941 2.798h1.44l.692-2.5-1.411-3.373 4.93-8.42h-4.93l1.357-2.383h3.933L70.15 0h-8.988Zm-.319 8.504-.332.554.554 1.44 1.163-1.994h-1.385ZM70.745 0 69.36 3.324h3.878L71.23 5.706h-4.003L62.975 20H75.22l4.487-14.294H74.25l2.438-2.382h3.684L83.335 0h-12.59Zm-1.759 8.476-2.465 8.56h.858l2.383-8.56h-.776Zm3.601 8.532 2.493-8.532h.665l-2.382 8.532h-.776Zm-.582-8.615-.249.86h.873l.318-.86h-.942Zm-1.412 4.765.194-.914h.914l-.166.914h-.942Zm-.831 2.784-.25 1.094h.9l.278-1.094h-.928Z"
              fill="currentColor"></path>
          </svg>
          <span class="sr-only">シン・仮面ライターへ</span>
        </a>
      </li>
      <li class="u-lnh-n">
        <a
          href="https://nxz.kamenwriter.com/"
          target="_blank"
          rel="noopener noreferrer"
          title="NXZ"
          aria-label="nxz.kamenwriter.comへ"
          class="c-display-s c-ft-bnr u-pd-s u-dsp-flx js-cnt-v-auto"
        >
          <svg viewBox="0 0 63 20" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M20 0h-.925l-8.5 8.5 1.038 1.04.648-.649.433.434-.647.648 6.726 6.726V2.454L20 1.227V0Zm0 19.141-8.56-8.56-.921.92 1.54 1.54-.606.608-1.541-1.541-6.665 6.665H17.65L18.878 20H20v-.859ZM1.152 20l8.326-8.326-1.039-1.038-.52.52-.434-.434.52-.52-6.778-6.779v14.228L0 18.878V20h1.152ZM0 .982l8.613 8.612.92-.92L7.94 7.081l.607-.607 1.593 1.593 6.84-6.84H2.454L1.227 0h16.98H0v.982Zm9.967 8.126 1.038 1.038-.92.92-1.038-1.038.92-.92Z"
              fill="#FBFBD5"></path>
            <path
              d="M25.733 16.971c0 .126.084.21.21.21h.23c.126 0 .21-.084.21-.21V4.337h.063l7.836 12.634c.105.189.23.21.356.21h.189c.126 0 .21-.084.21-.21V3.143c0-.126-.084-.21-.21-.21h-.23c-.127 0-.21.084-.21.21v12.634h-.063L26.488 3.143c-.105-.189-.23-.21-.357-.21h-.188c-.126 0-.21.084-.21.21V16.97Zm36.758.21c.126 0 .21-.084.21-.21v-.188c0-.126-.084-.21-.21-.21h-7.94v-.02l8.045-12.928c.084-.126.105-.189.105-.294v-.188c0-.126-.084-.21-.21-.21h-8.255c-.125 0-.21.084-.21.21v.188c0 .126.085.21.21.21h7.648v.02L53.859 16.47c-.084.125-.126.21-.126.314v.188c0 .126.084.21.21.21h8.549Zm-12.904-.21c.063.105.021.21-.105.21h-.377c-.126 0-.188-.063-.251-.168l-4.002-6.746h-.021l-4.023 6.746c-.063.105-.126.168-.251.168H40.2c-.125 0-.167-.105-.104-.21l4.379-7.312-3.898-6.516c-.062-.105-.02-.21.105-.21h.377c.126 0 .189.063.252.168l3.52 5.95h.02l3.542-5.95c.063-.105.126-.168.251-.168H49c.126 0 .168.105.105.21l-3.897 6.516 4.38 7.312Z"
              fill="currentColor"></path>
          </svg>
          <span class="sr-only">nxz.kamenwriter.comへ</span>
        </a>
      </li>
    </ul>
    <ul class="o-stack u-insert-stack u-space-s">
      <li>
        <a class="c-content-m c-ft-link u-dsp-blc u-pd-s" data-astro-prefetch="tap" href="/company/">会社概要</a>
      </li>
      <li>
        <a class="c-content-m c-ft-link u-dsp-blc u-pd-s" data-astro-prefetch="tap" href="/terms/">サイト規約</a>
      </li>
      <li>
        <a class="c-content-m c-ft-link u-dsp-blc u-pd-s" data-astro-prefetch="tap" href="/privacy-policy/"
          >プライバシーポリシー</a
        >
      </li>
      <li>
        <a class="c-content-m c-ft-link u-dsp-blc u-pd-s" data-astro-prefetch="tap" href="/inquiry/">お問い合わせ</a>
      </li>
    </ul>
    <div class="o-cover">
      <ul class="o-cluster u-mt-auto u-mx-auto">
        <li>
          <a
            href="https://www.facebook.com/kamenwriter01"
            target="_blank"
            rel="noopener noreferrer"
            title="Facebook"
            aria-label="Facebookへ"
            class="c-ft-sns js-cnt-v-auto"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
                fill="currentColor"></path>
            </svg>
            <span class="sr-only">Facebookへ</span>
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/kamenwriter02"
            target="_blank"
            rel="noopener noreferrer"
            title="Twitter"
            aria-label="Twitterへ"
            class="c-ft-sns js-cnt-v-auto"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"
                fill="currentColor"></path>
            </svg>
            <span class="sr-only">Twitterへ</span>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/kamenwriter02/"
            target="_blank"
            rel="noopener noreferrer"
            title="Instagram"
            aria-label="Instagramへ"
            class="c-ft-sns js-cnt-v-auto"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
              <path
                d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                fill="currentColor"></path>
            </svg>
            <span class="sr-only">Instagramへ</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <p class="c-suppl-l u-txt-ctr u-fnt-en u-txt-thn">©︎ www.kamenwriter.com</p>
</footer>
<script>
  ;(() => {
    const firstViews = () => {
      const images = document.querySelectorAll('img')
      const windowHeight = window.innerHeight
      images.forEach((image) => {
        const rect = image.getBoundingClientRect()
        if (rect.top < windowHeight) {
          image.removeAttribute('loading')
          image.setAttribute('fetchpriority', 'high')
        }
      })
    }
    const setContainIntrinsicSize = () => {
      const elements = document.querySelectorAll('.js-cnt-v-auto, .c-toc')
      elements.forEach((element: HTMLElement) => {
        const rect = element.getBoundingClientRect()
        const width = `${rect.width}px`
        const height = `${rect.height}px`
        element.style.containIntrinsicSize = `${width} ${height}`
      })
    }

    const debounce = <F extends (...args: any[]) => void>(
      func: F,
      wait: number,
    ): ((...args: Parameters<F>) => void) => {
      let timeout: ReturnType<typeof setTimeout>
      return (...args: Parameters<F>) => {
        clearTimeout(timeout)
        timeout = setTimeout(() => func(...args), wait)
      }
    }
    window.addEventListener('load', () => {
      firstViews()
      setContainIntrinsicSize()
    })
    window.addEventListener(
      'resize',
      debounce(() => {
        firstViews()
        setContainIntrinsicSize()
      }, 100),
    )
  })()
</script>
