@use '../settings' as setting;

.o-reel {
  display: flex;
  gap: var(--reel-gutter, setting.f-get-space(m));
  padding-bottom: setting.f-get-space(s);
  overflow: auto hidden;

  & > * {
    flex: 0 0 auto;
  }
}
