---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="About" pageType="page">
  <div class="o-center u-insert-center u-space-clamp">
    <h1 class="c-heading u-txt-thn">仮面ライターについて</h1>
    <table class="c-tbl">
      <caption class="sr-only">弊社の概要</caption>
      <tbody>
        <tr class="o-sidebar u-space-none u-insert-sidebar">
          <th class="o-box c-tbl__th u-py-s u-px-m c-content-l" scope="row">屋号</th>
          <td class="o-box c-tbl__td u-py-s u-px-m c-content-l">仮面ライター</td>
        </tr>
        <tr class="o-sidebar u-space-none u-insert-sidebar">
          <th class="o-box c-tbl__th u-py-s u-px-m c-content-l" scope="row">代表者</th>
          <td class="o-box c-tbl__td u-py-s u-px-m c-content-l">長谷川 雄治</td>
        </tr>
        <tr class="o-sidebar u-space-none u-insert-sidebar">
          <th class="o-box c-tbl__th u-py-s u-px-m c-content-l" scope="row">所在地</th>
          <td class="o-box c-tbl__td u-py-s u-px-m c-content-l">
            〒567-0005<br />大阪府茨木市五日市2
          </td>
        </tr>
        <tr class="o-sidebar u-space-none u-insert-sidebar">
          <th class="o-box c-tbl__th u-py-s u-px-m c-content-l" scope="row">設立</th>
          <td class="o-box c-tbl__td u-py-s u-px-m c-content-l"> 2013年04月26日 </td>
        </tr>
        <tr class="o-sidebar u-space-none u-insert-sidebar">
          <th class="o-box c-tbl__th u-py-s u-px-m c-content-l" scope="row">事業内容</th>
          <td class="o-box c-tbl__td u-py-s u-px-m c-content-l">
            <ul class="c-dsc-list">
              <li>Webサイト制作</li>
              <li>Web/SNS活用サポート</li>
              <li>コンテンツ制作</li>
              <li>Webコンサルティング</li>
              <li>ドメイン、サーバ取得代行</li>
              <li>その他、上記に係る業務</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</Layout>
