---
import Layout from '@/layouts/Layout.astro'
import { Picture } from 'astro:assets'
import img01 from '@/images/pj-img-01.png'
import img02 from '@/images/pj-img-02.png'
import img03 from '@/images/pj-img-03.png'
---

<Layout title="プロジェクト" pageType="page">
  <div class="o-center u-insert-center u-space-clamp">
    <h1 class="c-heading u-txt-thn">プロジェクト</h1>
    <ul class="o-stack u-insert-stack u-space-xl">
      <li>
        <a
          href="https://bbns.jp/"
          target="_blank"
          rel="noopener noreferrer"
          title="BLUE B NOSE"
          aria-label="BLUE B NOSEへ"
          class="o-sidebar c-card-link"
        >
          <span class="c-media-narrow">
            <Picture
              pictureAttributes={{ class: 'o-frame js-cnt-v-auto' }}
              src={img01}
              width={img01.width / 2}
              height={img01.height / 2}
              widths={[240, 480, 540, 720, 1024, 1440, img01.width / 2]}
              sizes={`(max-width: 360px) 240px, (max-width: 520px) 480px, (max-width: 720px) 540px, (max-width: 960px) 768px, (max-width: 1280px) 1024px, (max-width: 1536px) 1440px, ${img01.width / 2}px`}
              formats={['avif', 'webp']}
              fetchpriority="low"
              alt=""
            />
          </span>
          <span class="c-media-wide u-mg-auto">
            <h2 class="c-display-m u-mb-l">
              <svg viewBox="0 0 569 71" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M325.5 0.5V67H335.5V24.5L381.5 71V4.5H371V47L325.5 0.5ZM451.408 26.7231C452.569 29.5552 453.15 32.543 453.15 35.6865C453.15 38.8018 452.569 41.7754 451.408 44.6074C450.275 47.4111 448.633 49.9175 446.48 52.1265C444.3 54.3354 441.836 56.0205 439.089 57.1816C436.37 58.3428 433.496 58.9233 430.465 58.9233C427.378 58.9233 424.461 58.3428 421.714 57.1816C418.967 56.0205 416.518 54.3354 414.365 52.1265C412.213 49.9175 410.57 47.4111 409.438 44.6074C408.305 41.8037 407.738 38.8301 407.738 35.6865C407.738 32.5146 408.305 29.5127 409.438 26.6807C410.57 23.8486 412.213 21.3423 414.365 19.1616C416.518 16.9526 418.967 15.2676 421.714 14.1064C424.49 12.9453 427.407 12.3647 430.465 12.3647C433.524 12.3647 436.427 12.9595 439.174 14.1489C441.949 15.3101 444.385 16.981 446.48 19.1616C448.633 21.3706 450.275 23.8911 451.408 26.7231ZM461.179 48.2183C462.85 44.2817 463.685 40.1045 463.685 35.6865C463.685 31.2969 462.85 27.1338 461.179 23.1973C459.536 19.2324 457.129 15.6782 453.957 12.5347C450.785 9.44775 447.188 7.09717 443.167 5.48291C439.174 3.86865 434.94 3.06152 430.465 3.06152C425.962 3.06152 421.7 3.86865 417.679 5.48291C413.657 7.09717 410.061 9.44775 406.889 12.5347C403.717 15.6499 401.31 19.1758 399.667 23.1123C398.024 27.0488 397.203 31.2402 397.203 35.6865C397.203 40.1611 398.024 44.3525 399.667 48.2607C401.31 52.1689 403.717 55.6665 406.889 58.7534C410.004 61.812 413.586 64.1768 417.636 65.8477C421.714 67.4902 425.991 68.3115 430.465 68.3115C434.883 68.3115 439.103 67.4902 443.125 65.8477C447.146 64.2051 450.757 61.8403 453.957 58.7534C457.129 55.6665 459.536 52.1548 461.179 48.2183ZM534.031 4.46387V67H568.5V57H543V38.5H568.5V29.5H543V14H568.5V4.46387H534.031ZM13.9004 31.2529H10.0347V13.4111H13.9004C18.2184 13.4111 18.8079 13.9035 19.9868 14.8882C20.2074 15.0725 20.4486 15.274 20.7388 15.4927C22.5796 16.8521 23.5 19.231 23.5 22.6294C23.5 25.7446 22.4946 27.9678 20.4839 29.2988C20.1199 29.538 19.8299 29.7553 19.5693 29.9505C18.4103 30.8188 17.8308 31.2529 13.9004 31.2529ZM12.5835 58.7378H10.0347V38.8994H12.5835H15.6421C17.6812 38.8994 19.3096 39.0127 20.5273 39.2393C21.7734 39.4658 22.8779 39.8198 23.8408 40.3013C25.3701 41.1226 26.5454 42.2695 27.3667 43.7422C28.188 45.2148 28.5986 46.9424 28.5986 48.9248C28.5986 50.5957 28.2588 52.125 27.5791 53.5127C26.8994 54.9004 25.9365 56.0049 24.6904 56.8262C23.6709 57.5342 22.2832 58.0298 20.5273 58.313C18.7715 58.5962 16.1235 58.7378 12.5835 58.7378ZM0.136719 4.5V67.1914H14.4136C20.3608 67.1914 24.5947 66.8374 27.1152 66.1294C29.6357 65.4214 30.9277 64.2036 32.627 62.4761C32.728 62.3768 32.8309 62.2761 32.9351 62.1742C34.495 60.6476 36.3601 58.8225 37.1831 56.6987C38.061 54.4331 38.5 52.04 38.5 49.5195C38.5 45.3564 37.4521 41.9155 35.3564 39.1968C33.2891 36.4497 28.4429 34.293 24.8179 33.7266C27.7349 32.8486 29.1401 31.3052 30.6694 29.0962C32.1987 26.8589 32.5645 24.4824 32.5645 21.1689C32.5645 18.3936 32.0264 15.8589 30.9502 13.5649C29.9023 11.271 28.4155 9.41602 26.4897 8C26.3367 7.88738 26.1844 7.77385 26.032 7.66025C24.6901 6.65983 23.3416 5.65452 21.4087 5.22217C19.2847 4.74072 15.9854 4.5 11.5107 4.5H0.136719ZM97.0176 4.5H107V45C107 50.6074 108.289 52.5923 110.866 55.4243C113.472 58.228 115.764 59 120.918 59C126.044 59 127.515 58.228 130.092 55.4243C132.697 52.5923 134 50.6074 134 45V4.5H144.11V43.6997C144.11 52.1108 141.383 57.8086 137.135 62C132.887 66.1631 129.471 68.8481 120.918 68.8481C112.365 68.8481 108.17 66.1631 103.951 62C99.731 57.8369 97.0176 52.1392 97.0176 43.6997V4.5ZM55 67.1914V5H65.1104V57.5H83.5V67.1914H55ZM252.898 31.2529H256.764C260.694 31.2529 261.274 30.8188 262.433 29.9505C262.693 29.7553 262.983 29.538 263.347 29.2988C265.358 27.9678 266.363 25.7446 266.363 22.6294C266.363 19.231 265.443 16.8521 263.602 15.4927C263.312 15.274 263.071 15.0725 262.85 14.8882C261.671 13.9035 261.082 13.4111 256.764 13.4111H252.898V31.2529ZM252.898 58.7378H255.447C258.987 58.7378 261.635 58.5962 263.391 58.313C265.146 58.0298 266.534 57.5342 267.554 56.8262C268.8 56.0049 269.763 54.9004 270.442 53.5127C271.122 52.125 271.462 50.5957 271.462 48.9248C271.462 46.9424 271.051 45.2148 270.23 43.7422C269.409 42.2695 268.233 41.1226 266.704 40.3013C265.741 39.8198 264.637 39.4658 263.391 39.2393C262.173 39.0127 260.544 38.8994 258.505 38.8994H255.447H252.898V58.7378ZM243 67.1914V4.5H254.374C258.849 4.5 262.148 4.74072 264.272 5.22217C266.205 5.65452 267.553 6.65983 268.895 7.66025L268.897 7.66147L268.898 7.66237L268.899 7.66271C269.05 7.77549 269.201 7.88819 269.353 8C271.279 9.41602 272.766 11.271 273.813 13.5649C274.89 15.8589 275.428 18.3936 275.428 21.1689C275.428 24.4824 275.062 26.8589 273.533 29.0962C272.003 31.3052 270.598 32.8486 267.681 33.7266C271.306 34.293 276.152 36.4497 278.22 39.1968C280.315 41.9155 281.363 45.3564 281.363 49.5195C281.363 52.04 280.924 54.4331 280.046 56.6987C279.223 58.8225 277.358 60.6476 275.798 62.1742L275.785 62.1868L275.596 62.3727L275.49 62.4761C273.791 64.2036 272.499 65.4214 269.979 66.1294C267.458 66.8374 263.224 67.1914 257.277 67.1914H243ZM164 67V4.46387H198.469V14H172.969V29.5H198.469V38.5H172.969V57H198.469V67H164ZM485.5 48L476 49.9414C477.06 54.5247 479.591 61.5365 483 64C486.438 66.4635 491.147 68.6758 496.504 68.6758C502.892 68.6758 506.962 66.9284 510.715 63.4336C514.467 59.9102 516.344 55.1693 516.344 49.2109C516.344 45.1146 516.184 40.7057 513.863 37.9844C511.543 35.2344 507.275 32.4271 501.059 29.5625C500.743 29.4193 500.314 29.2188 499.77 28.9609C492.665 25.6953 489 23.7812 489 20C489 17.5938 489.915 15.0651 491.52 13.6328C493.049 12.2911 494.352 12.2942 496.772 12.3C496.935 12.3004 497.103 12.3008 497.277 12.3008C499.225 12.3008 500.76 12.9427 502.25 13.8594C503.768 14.776 505.158 16.2227 506.418 18.1992L514.988 13.8203C513.785 10.4688 511.622 7.90495 508.5 6.12891C505.378 4.32422 501.918 3 497.277 3C491.634 3 487.194 4.58984 483.699 7.76953C480.233 10.9492 478.5 14.7786 478.5 19.9062C478.5 23.8594 479.646 27.2109 481.938 29.9609C484.106 32.5043 488.825 34.7997 495.092 37.8485C495.53 38.0619 495.976 38.2789 496.43 38.5C496.888 38.7005 497.547 39.0156 498.406 39.4453C504.536 42.3385 505.859 45.5156 505.859 49.2109C505.859 52.0469 504.957 55.0404 503.152 56.7305C501.376 58.4206 499.97 59.2656 496.934 59.2656C493.725 59.2656 491.09 58.5352 489.027 57.0742C487.384 55.8871 486.611 52.6116 485.973 49.9094C485.811 49.2211 485.657 48.5699 485.5 48Z"
                  fill="currentColor"></path>
              </svg>
              <span class="sr-only">BLUE B NOSE</span>
            </h2>
            <p class="c-display-s u-mw-r u-mb-l">
              株式会社<svg viewBox="0 0 96 14" xmlns="http://www.w3.org/2000/svg" class="o-icon u-mx-xs">
                <path
                  d="M24.3999 13.9L28.3999 2.39998L32.3 13.9H33.2L28.3999 0L23.5 13.9H24.3999ZM95.3 7.10005C95.3 10.8 92.1 13.9 88.4 13.9C84.7 13.9 81.5 10.8 81.5 7.10005C81.5 3.40005 84.6 0.300049 88.4 0.300049C92.1 0.300049 95.3 3.40005 95.3 7.10005ZM82.4 7.10005C82.4 10.4 85.1 13.1 88.4 13.1C91.7 13.1 94.4 10.3 94.4 7.10005C94.4 3.80005 91.7 1.10005 88.4 1.10005C85.1 1.10005 82.4 3.90005 82.4 7.10005ZM0.799999 6.8V1.3H6V0.5H0V13.8H0.799999V7.6H5.8V6.8H0.799999ZM13.5008 7.5L17.8008 13.8H18.8008L14.5008 7.6C16.7008 7.6 18.3008 6.4 18.3008 4.1C18.3008 2.9 18.0008 1.9 17.0008 1.2C16.1008 0.500001 15.1008 0.5 14.0008 0.5H12.3008V13.8H13.1008V7.5H13.5008ZM16.4008 6.1C15.8008 6.7 14.9008 6.7 14.1008 6.7H13.0008V1.3H13.5008C14.3008 1.3 15.2008 1.3 15.9008 1.6C16.8008 2 17.3008 3 17.3008 4C17.3008 4.8 17.0008 5.6 16.4008 6.1ZM41.3004 13.8H40.5004V1.3H36.4004V0.5H45.4004V1.3H41.3004V13.8ZM50.8 6.8V1.3H56.3V0.5H50V13.8H56.3V13H50.8V7.6H56.2V6.8H50.8ZM63.5016 13H67.5016V13.8H62.6016V0.5H63.4016V13H63.5016ZM77.7008 13H73.7008H73.6008V0.5H72.8008V13.8H77.7008V13Z"
                  fill="currentColor"></path>
              </svg><span class="sr-only">FRATELLO</span>と共同運用の月額制Web制作サービス
            </p>
            <p class="c-content-l u-mw-r">
              表示速度と豊かな表現の両立を追求した、パターンオーダー発のWeb制作サービス。<br />
              オリジナルWordPressテーマとKUSANAGI、独自デザインシステムを組み合わせた開発環境を軸に、多様な共同事業も展開中。
            </p>
          </span>
        </a>
      </li>
      <li>
        <a
          href="https://nxz.kamenwriter.com/"
          target="_blank"
          rel="noopener noreferrer"
          title="NXZ"
          aria-label="nxz.kamenwriter.comへ"
          class="o-sidebar c-card-link"
        >
          <span class="c-media-wide u-mg-auto">
            <h2 class="c-display-m u-mb-l">
              <svg viewBox="0 0 278 107" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0 105.286C0 106.229 0.628571 106.857 1.57143 106.857H3.3C4.24286 106.857 4.87143 106.229 4.87143 105.286V10.5286H5.34286L64.1143 105.286C64.9 106.7 65.8429 106.857 66.7858 106.857H68.2C69.1429 106.857 69.7715 106.229 69.7715 105.286V1.57143C69.7715 0.628564 69.1429 0 68.2 0H66.4715C65.5286 0 64.9 0.628564 64.9 1.57143V96.3286H64.4286L5.65715 1.57143C4.87143 0.157141 3.92857 0 2.98572 0H1.57143C0.628571 0 0 0.628564 0 1.57143V105.286ZM275.686 106.857C276.629 106.857 277.257 106.229 277.257 105.286V103.871C277.257 102.929 276.629 102.3 275.686 102.3H216.129V102.143L276.472 5.18571C277.1 4.24285 277.257 3.77143 277.257 2.98571V1.57143C277.257 0.628564 276.629 0 275.686 0H213.772C212.829 0 212.2 0.628564 212.2 1.57143V2.98571C212.2 3.92857 212.829 4.55714 213.772 4.55714H271.129V4.71428L210.943 101.514C210.314 102.457 210 103.086 210 103.871V105.286C210 106.229 210.629 106.857 211.572 106.857H275.686ZM178.902 105.286C179.374 106.071 179.06 106.857 178.117 106.857H175.288C174.345 106.857 173.874 106.386 173.402 105.6L143.388 55H143.231L113.06 105.6C112.588 106.386 112.117 106.857 111.174 106.857H108.502C107.56 106.857 107.245 106.071 107.717 105.286L140.56 50.4429L111.331 1.57143C110.86 0.785714 111.174 0 112.117 0H114.945C115.888 0 116.36 0.47142 116.831 1.25713L143.231 45.8857H143.388L169.945 1.25713C170.417 0.47142 170.888 0 171.831 0H174.502C175.445 0 175.76 0.785714 175.288 1.57143L146.06 50.4429L178.902 105.286Z"
                  fill="currentColor"></path>
              </svg>
              <span class="sr-only">NXZ</span>
            </h2>
            <p class="c-display-s u-mw-r u-mb-l">半分趣味の読み物系同人メディアサイト</p>
            <p class="c-content-l u-mw-r">
              物書きとしての活動を集約する場であり、多方面展開、他ユーザーの参画等も視野に入れた部活動的な路線、ミニマガジンの発行も目標としたメディアサイト。<br
              />
              執筆、更新、他ユーザー参画へ向けた改修等は割とサボりがち。
            </p>
          </span>
          <span class="c-media-narrow">
            <Picture
              pictureAttributes={{ class: 'o-frame js-cnt-v-auto' }}
              src={img02}
              width={img02.width / 2}
              height={img02.height / 2}
              widths={[240, 480, 540, 720, 1024, 1440, img02.width / 2]}
              sizes={`(max-width: 360px) 240px, (max-width: 520px) 480px, (max-width: 720px) 540px, (max-width: 960px) 768px, (max-width: 1280px) 1024px, (max-width: 1536px) 1440px, ${img02.width / 2}px`}
              formats={['avif', 'webp']}
              fetchpriority="low"
              alt=""
            />
          </span>
        </a>
      </li>
      <li>
        <a
          href="http://digitalgames.jp/"
          target="_blank"
          rel="noopener noreferrer"
          title="digitalgames.jp"
          aria-label="digitalgames.jpへ"
          class="o-sidebar c-card-link"
        >
          <span class="c-media-narrow">
            <Picture
              pictureAttributes={{ class: 'o-frame js-cnt-v-auto' }}
              src={img03}
              width={img03.width / 2}
              height={img03.height / 2}
              widths={[240, 480, 540, 720, 1024, 1440, img03.width / 2]}
              sizes={`(max-width: 360px) 240px, (max-width: 520px) 480px, (max-width: 720px) 540px, (max-width: 960px) 768px, (max-width: 1280px) 1024px, (max-width: 1536px) 1440px, ${img03.width / 2}px`}
              formats={['avif', 'webp']}
              fetchpriority="low"
              alt=""
            />
          </span>
          <span class="c-media-wide u-mg-auto">
            <h2 class="c-display-m u-mb-l u-fnt-en">digitalgames.jp</h2>
            <p class="c-display-s u-mw-r u-mb-l">出身学科の非公式OB会プロジェクト</p>
            <p class="c-content-l u-mw-r">
              とりあえず箱だけ用意したまま、現在は具体的な活動はあまりできていない非公式OG会の構築を目指したプロジェクト。<br
              />
              クリエイター系現役学生と、卒業生とを繋ぐ場を目指してはいる。
            </p>
          </span>
        </a>
      </li>
    </ul>
  </div>
</Layout>
