@use 'sass:map';
@use 'sass:math';

$readableLength: 40em;
$ratio: math.div((1 + sqrt(5)), 2);
$spacePx: 8px;
$spaceRem: 0.5rem;
$spaceEm: 0.5em;

$spaceScale: (
  3xs: math.div(math.div(math.div(1, $ratio), $ratio), $ratio),
  2xs: math.div(math.div(1, $ratio), $ratio),
  xs: math.div(1, $ratio),
  s: 1,
  m: 2,
  l: 3,
  xl: 5,
  2xl: 8,
  3xl: 13,
  4xl: 21,
  auto: auto,
) !default;

@function f-get-space($scale, $unit: px) {
  $spaceSize: map.get($spaceScale, $scale);
  @if $unit == em {
    @return $spaceEm * $spaceSize;
  } @else if $unit == rem {
    @return $spaceRem * $spaceSize;
  } @else {
    @return $spacePx * $spaceSize;
  }
}

$borderRadius: (
  s: f-get-space(xs),
  m: f-get-space(s),
  l: f-get-space(m),
) !default;

$breaks: 521px;
$breakm: 961px;
$breakpoints: (
  unders: calc((($breaks - 1px) - 100vw) * 999),
  underm: calc((($breakm - 1px) - 100vw) * 999),
  overs: calc((100vw - ($breaks - 1px)) * 999),
  overm: calc((100vw - ($breakm - 1px)) * 999),
) !default;

$aspect: (
  square: '1/1',
  landscape: '3/2',
  standard: '4/3',
  wide: '16/9',
  portrait: '2/3',
  upright: '3/4',
  skyscraper: '9/16',
) !default;
