---
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'
const allPosts = await getCollection('stories')
const tagsMap = new Map()

allPosts.forEach((post) => {
  const tags = post.data.tags || []

  tags.forEach((tag) => {
    tagsMap.set(tag.slug, tag.label)
  })
})

const uniqueTags = Array.from(tagsMap.entries()).map(([slug, label]) => ({ slug, label }))
---

<Layout title="タグ一覧" pageType="archive">
  <div class="o-center u-insert-center u-space-clamp">
    <h1 class="c-heading u-txt-thn">タグ一覧</h1>
    <ul class="o-cluster">
      {
        uniqueTags.map((tag) => (
          <li>
            <a
              class="c-content-l c-tag-link u-pd-m u-dsp-blc u-lnh-n"
              href={`/stories/tag/${encodeURIComponent(tag.slug)}/`}
            >
              <span class="u-mr-xs">#</span>
              {tag.label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
